@import "../../styles/light_scheme";

.paragraph {
	width: 100%;

	margin: 0;

	color: $black;

	font-weight: 400;
}

.l-size {
	font-size: 18px;
	line-height: 29px;
}

.m-size {
	font-size: 16px;
	line-height: 24px;
}

.s-size {
	font-size: 14px;
	line-height: 24px;
}
