$black: #3B434E;
$white: #FFF;
$primary: #7653FC;
$primary-hover: #302070;
$secondary: #F9F8FF;
$gray: #787D85;
$gray-light: #B3C0D9;
$gray-buttons: #EBEBEB;
$green: #1DC37E;
$green-light: #C8F8E4;
$red:#DE0000;
$red-light: #FC836D;
